NODE_ENV=development
PORT=9999
LOG_LEVEL=debug

# Database configuration
DATABASE_URL="postgresql://postgres:postgres@postgres:5432/postgres"
REDIS_URL="redis://redis:6379/0"

# jwt secret
CLIENT_JWT_SECRET="终端执行: openssl rand -base64 32 生成一个出来"
ADMIN_JWT_SECRET="终端执行: openssl rand -base64 32 生成一个出来"

# cloudflare r2
ACCESS_KEY_ID="you access key id"
SECRET_ACCESS_KEY="you secret access key"
ENDPOINT="https://r2.xxxxx.com"
BUCKET_NAME="xxxxx"
